langchain==1.4.2
langchain-openai==1.6.6
langchain-text-splitters==1.1.2
langchain_core==1.6.4
langchain-chroma
langgraph==1.2.12
chromadb==1.5.9
pypdf==6.19.0
pandas==3.0.6
uvicorn==0.53.0
fastapi==0.141.1
presidio-analyzer==2.2.364
presidio-anonymizer==2.2.364
python-dotenv==1.2.3
langchain-text-splitters
python-multipart==0.0.32